# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3

# The entry name that will be displayed in the boot menu
:Limine Barebones
    # Change the protocol line depending on the used protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel.elf
    RESOLUTION=1280x720x32
    RESOLUTION=1024x768x32
    RESOLUTION=960x720x32
    RESOLUTION=1024x600x32
    MODULE_PATH=boot:///boot.mbif
    MODULE_PATH=boot:///background.mbif
    MODULE_PATH=boot:///MButton.mbif
    MODULE_PATH=boot:///MButton_S.mbif
    MODULE_PATH=boot:///mouse.mbzf
    MODULE_PATH=boot:///test.mbif
    MODULE_PATH=boot:///window_buttons.mbzf
    MODULE_PATH=boot:///window_icons.mbzf
    MODULE_PATH=boot:///zap-light16.psf
    MODULE_PATH=boot:///maab.mbzf
    MODULE_PATH=boot:///other.mbzf
    
